@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    display: grid;
    place-items: center;
}

.container {
    position: relative;
    font-family: 'Press Start 2P', cursive;
    height: 90vh;
    width: 25vw;
    background-color: lightblue;
    overflow: hidden;
    border-radius: 10px;
}

.pontuacao {
    font-size: 2em;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
}

.flap {
    position: absolute;
    width: 3.5vw;
    height: 2.5vw;
    background-image: url('img/flappybird.png');
    background-size: 100% 100%;
    left: 10vw;
    bottom: 38vh;
}

.canoCima,
.canoBaixo {
    position: absolute;
    width: 5vw;
    height: 70vh;
    background-size: 100% 100%;
    background-image: url("./img/pipe.png");
}

.canoCima {
    bottom: 80vh;
    rotate: 180deg;
}

.canoBaixo {
    bottom: -20vh;
}

.derrota {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 10px;
    display: none;
}